html {
    scroll-behavior: smooth;
}
.main-layout {
    display: grid;
    grid-template-columns:
        minmax(20px, 1fr) minmax(auto, var(--xl)) minmax(20px, 1fr);

}


.main-layout>*.full {
    grid-column: 1 / -1;
}

.main-layout>*:not(.full) {
    grid-column: 2;


}

.nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.meme-editor-layout.main-layout {
    display: flex;
    flex-direction: row;
    gap: 150px;

    margin-bottom: 150px;
}