.main-layout {
    display: grid;
    grid-template-columns:
        minmax(20px, 1fr) 
        minmax(auto, var(--xl)) 
        minmax(20px, 1fr);
    /* grid-auto-flow: row; */
}


.main-layout > *.full {
    grid-column: 1 / -1;
}

.main-layout > *:not(.full) {
    grid-column:2;

}


.nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}