h1 {
    color: #333;
    margin-top: 0;
    font-size: 3rem;
}

p {
    color: #666;
}

.about-container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px 0 60px;
    display: none;
}

/* .about-container {
    scroll-snap-type: y mandatory;
} */

.section {
    scroll-snap-align: start;
}

a {
    transition: color 0.3s ease;
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #007BFF;
}


.memes-page-container {
    padding-top: 50px;
    font-size: 3rem;
    text-align: center;
    display: none;
}

.meme-editor-layout.main-layout .about {
    margin-bottom: 0;
}

.main-layout .about-container {
    gap: 0;
}

.main-layout .about-container p,
.main-layout .about-container li {
    font-size: 1.2rem;
}