.canvas-container {
    display: flex;
    justify-content: center;
    cursor: grab;
    
    /* width: 50%;
    height: 80%; */
    /* flex-direction: column; */
    /* border: 8px solid blue; */
}
.meme-editor-layout{
    display: flex;
    flex-direction: column;
}

.canvas-container:active {
    cursor: grabbing;
}

