.main-header {
    background-color: #6aa7cf73;
    padding-bottom: 50px;
}

.filtering-container {
    padding-top: 10px;
    margin-bottom: 40px;
    font-size: 1.5rem;
}


.logo a {
    color: black;
    font-size: 2rem;
    text-decoration: none;
}

.header-container {
    justify-content: space-between;
}

.nav-container {
    margin-top: 2%;
}


.main-header {
    justify-content: space-around;
    height: 90px;
}

.main-navbar {
    flex-direction: row;
    gap: 10px;


}


.main-header .main-nav-list a {
    text-decoration: none;
    color: black;
    padding-left: 15px;
    font-size: 2rem;
}

.lang-btn {
    max-width: 30%;
    border-radius: 15px;
}

.mobile-toggle-menu {
    display: none;
}

.lang-he .search {
    flex-direction: row-reverse;

}


.search {
    display: flex;
    gap: 10px;
}



/* overlay */

.close-btn {
    display: none;
    z-index: 4;
}

