* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: mont, serif;
    background-color: #e3e3e3;
    height: 100vh;
}


.main-layout {
    max-width: 600px;
    margin: 0 auto;
}

.main-header {
    background-color: #6aa7cf73;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}

