/* .arrows-btn{
    font-size: 15px;
} */

.meme-editor {
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.meme-editor button {
  padding: 10px;
}

.text-insert {
  max-width: 520px;
}

.icons li img{ 
  /* align-items: center; */
  height: 30px;
  width: 30px;
}

.icons {
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 10px;
}