.meme-editor {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  background: #6aa7cf73;
  border-radius: 15px;

}


input[type="text"] {
  text-align: center;
  }

  
.meme-editor button {
  padding: 10px;
}

.text-insert {
  max-width: 520px;
  height: 18%;
  margin-top: 10px;
  border-radius: 15px;
}

.icons li img{ 
  height: 50px;
  width: 50px;
}

.search-btn img.icons  { 
  height: 30px;
  width: 30px;
}

.icons {
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 10px;
}

.color-input-container {
  list-style: none;
  display: flex;
  align-items: center;
}

.text-color-input {
  cursor: pointer;
}

input[type="color" i] {
  opacity: 0; 
  width: 0;
  height: 0;
}

.actions-btns {
  display: flex;
  flex-direction: column;
justify-content: space-around;
height: 100%;
}


.meme-editor{
  display: flex;
  flex-direction: column;
}

/** Pill Checkbox Example */

.pill-checkbox-label {
  background-color: green;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  padding: 2px;
  transition: all 0.4s ease-in-out;

}

.pill-checkbox-label > div {
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

#pill-checkbox:checked + .pill-checkbox-label {
  background-color: red;
}

#pill-checkbox:checked + .pill-checkbox-label > div {
  translate: 100% 0;
}