/* .arrows-btn{
    font-size: 15px;
} */

.meme-editor {
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;

}

.meme-editor button {
  padding: 10px;
}

.text-insert {
  max-width: 520px;
}

.icons li img{ 
  /* align-items: center; */
  height: 30px;
  width: 30px;
}

.search-btn img.icons  { 
  /* align-items: center; */
  height: 30px;
  width: 30px;
}

.icons {
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 10px;
}
/* 
li .color-input-container{


} */

/* .color-input {
  display: none;
}

.color-input-container {
  position: relative;
} */

.color-input-container {
  list-style: none;
  display: flex;
  align-items: center;
}
.text-color-input {
  /* width: 30px;
  height: 30px; */
  cursor: pointer;
}
.color-input {
  /* margin-left: 100px; */
  /* display: none; Hide the color input by default */
  /* position: absolute; */
  /* width: 200px; */
}

input[type="color" i] {
  opacity: 0; 
  width: 0;
  height: 0;
}
