body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.6s;
}

body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
}



/* MOBILE ONLY */

@media (max-width: 840px) {
    :root {
        height: 100dvh;
    }

    .main-layout {
        border-radius: 60px;

    }
    .search-container {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .search-container .search .keyword-field{
    font-size: 1.8rem;
    }
    .main-layout .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: rgb(255 255 255 / 90%);
        border-inline-start: 1px solid #ccc;
        transform: translateX(100%);
        transition: transform 0.6s, box-shadow 0.6s;
    }

    .images-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 5% 0;
        gap: 10px
    }



    .mobile-toggle-menu {
        display: flex;
        font-size: 2rem;

    }

    .main-header>.nav-container * {
        top: 0;
        right: 0;
        align-items: flex-start;
        flex-direction: column;
    }

    .main-navbar {
        display: none;
        font-size: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(255 255 255 / 90%);
        border-inline-start: 1px solid #ccc;
        width: 50%;
        height: 100%;
        z-index: 3;
    }

    body.menu-opened .main-layout-container {
        overflow: hidden;
        filter: blur(5px);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        display: none;
    }

    body.menu-opened .overlay {
        display: block;
    }


    .close-toggle-btn {
        display: block;
        font-size: 2rem;
        justify-self: start;
    }


    .main-header .main-navbar button {
        width: fit-content;
        float: right;
    }

  
    .meme-editor-layout.main-layout {
        flex-direction: column;
        justify-content: center;
    }


    .footer-content {
        font-size: 1.5rem;

    }

    .footer-img {
        /* width: 50%; */
    }

}

/* SMALL  */
@media (max-width: 640px) {

    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--s)) minmax(20px, 1fr);
            border-radius: 60px;
    }

    .meme-editor-layout.main-layout {
        flex-direction: column;
        justify-content: center;
    }

}


/* MEDIUM  */

@media (min-width: 840px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--m)) minmax(20px, 1fr);
            border-radius: 60px;
    }
    .main-header .main-navbar >* :not(.close-btn) {
        display: flex;
        align-items: center;
    } 
 
}

/* LARGE  */

@media (min-width: 1100px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
            border-radius: 60px;
    }
}



.main-layout  .filtering-container {
    background-color: #e3e3e3;

}
.search-container .search, 
.search-container .keyword-list {
    background-color: #6aa7cf73;

    padding: 10px;
    border-radius: 35px;

    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}
