


body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
  }

  


/* MOBILE ONLY */

@media (max-width: 840px) {
    :root {
        height: 100dvh;
    }


    .mobile-toggle-menu {
        display: flex;
        font-size: 2rem;
        
    }
   
    .main-header>.nav-container * {
        top: 0;
        right: 0;
        /* position: fixed;
   
    height: 1000px;
    background-color: rgb(255 255 255 / 90%);
    border-inline-start: 1px solid #ccc;
    width: 260px;

    transform: translateX(100%);

    transition: transform 0.6s, box-shadow 0.6s; */
        align-items: flex-start;
        flex-direction: column;

    }


    .main-navbar {
        display: none;
        font-size: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        /* height: 1000px; */
        background-color: rgb(255 255 255 / 90%);
        border-inline-start: 1px solid #ccc;
        width: 260px;
        height: 100%;
        /* width: 100%; */
        /* transform: translateX(100%);
        transition: transform 0.6s, box-shadow 0.6s; */
    }
    body.menu-opened {
        overflow: hidden; /* Prevent scrolling while menu is open */
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
        z-index: 2; /* Ensure it's above other content */
        display: none; /* Initially hidden */
    }
    
    body.menu-opened .overlay {
        display: block; /* Show the overlay when the menu is open */
    }



    .main-header .main-navbar .main-nav-list {}

    .main-header .main-navbar>* {
        /* color: red; */
        width: 100%;
        display: flex;
        gap: 15px;

        flex-direction: column;

    }

    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--s)) minmax(20px, 1fr);
    }

    .meme-editor-layout.main-layout {
        flex-direction: column;
        justify-content: center;
    }

    .canvas-container {
        width: 20vw;
        height: 80vh;

        /* height:40vh; */
    }

}

/* SMALL  */
@media (max-width: 640px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--s)) minmax(20px, 1fr);
    }

    .meme-editor-layout.main-layout {
        flex-direction: column;
        justify-content: center;
    }

    .canvas-container {
        /* width: 20vw;
        height: 80vh;
           */
        /* height:40vh; */
    }


}


/* MEDIUM  */

@media (min-width: 840px) {
    /* :root {
        --card-layout-margin: 0px;
        --card-layout-margin-center: 40px;
    }

    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--m)) minmax(20px, 1fr);
    }

    .meme-editor-layout.main-layout {
        flex-direction: row;

    } */

    /* .main-header .main-nav-list > li:not(:last-child) {
      margin-inline-end: 100px;
    }
  
    .btn-toggle-menu {
      display: none;
    } */
}

/* LARGE  */

@media (min-width: 1100px) {
    /* :root {
        --card-layout-margin: 80px;
        --card-layout-margin-center: 60px;
    } */

    /* .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    } */

    /* .card-layout > * {
      margin-bottom: 130px;
    }
  
    .card-layout > *:first-child > *:not(.card-image) {
      margin-right: var(--card-layout-margin);
      margin-left: var(--card-layout-margin);
    } */
}