/* eurofurence */
@font-face {
    font-family: eurofurence;
    src: url(../../fonts/eurofurence/eurof55.ttf);
  }

/* impact */
@font-face {
  font-family: impact;
  src: url(../../fonts/impact/impact.ttf);
}

  